.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin: 30px auto 0 30px;
  width: 125px;
  height: 142px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 30px 80px 0 0;
  padding-left: 0;
  gap: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: color 0.1s linear;
}

.nav__link:hover {
  color: #2f80ed;
}
